body {
    background-image: url(https://www.shutterstock.com/shutterstock/photos/2273827283/display_1500/stock-vector-vector-watercolor-art-background-old-paper-marble-stone-beige-watercolour-texture-for-cards-2273827283.jpg);
   
}
       

nav ul li {
    display: inline;
    text-decoration: none;
    color: rgb(59, 61, 61);
    margin-left: 3%;
}

.Maderera {
    border: solid white;
    height: 150px;
    width: 600px;
    margin: auto;
    padding-top: 6%;
    text-align: center;
    font-size: 400%;
    color: saddlebrown;
}

.imagenes {
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
}
img {
    width: 200px;
    height: 200px;
}

.navegación {
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
    font-size: x-large;
}
