* {
    box-sizing: border-box;
    margin: 0;
}

body {
    height: 100%;
    margin-top: 20px;
}

.maderera {
    border: 5px solid white;
    height: 80px;
    max-width: 600px;
    padding-top: 0%;
    /* TENEMOS QUE CHEQUEAR BIEN ESTO */
    margin: 20px auto;
    text-align: center;
    font-size: 150%;
    font-family: "Raleway", sans-serif;
    letter-spacing: 5px;
    color: peru;
}

.barranav {
    grid-area: "navbar-brand";
    /* border: 1px dotted rgb(226, 199, 226); */
    height: 59px;
    /* margin-left: 20px; */
}

a.navbar-brand {
    margin: 0px;
    box-sizing: border-box;
    text-align: center;
}

ul.navbar-nav {
    width: 500px;
    padding: 0px;
    box-sizing: border-box;
}

.container-fluid a {
    /*  border: 1px solid black; */
    width: 110px;
    height: 42px;
    align-items: center;
    justify-content: space-evenly;
    font-family: "Raleway", sans-serif;
    letter-spacing: normal;
    font-size: 100%;
    color: #000000A6;
    padding: 8px;
}

nav ul li {
    /* border: 1px solid black;*/
    display: inline;
    text-decoration: none;
    color: rgb(59, 61, 61);
    margin-left: 3%;
}

.contenido {
    display: flex;
    margin-top: 0px;
}

.formulario {
    max-width: 500px;
    height: auto;
    padding: 30px;
    background-color: rgb(219, 149, 79);
    border-radius: 20px;
    margin: 0px auto;
}

.formulario h2 {
    display: block;
    font-size: 35px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    color: rgb(124, 73, 21);
    margin: 20px auto;
    width: fit-content;
    /* border: 2px solid black; */
}

.formulario h3 {
    display: block;
    max-width: 500px;
    /* border: 1px solid black; */
    font-size: 90%;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    font-style: italic;
    margin: 20px auto;
}

label {
    display: block;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    font-weight: 350;
    margin-bottom: 5px;
}

input {
    width: 100%;
    height: 25px;
    border: 1px solid rgb(124, 73, 21);
    border-radius: 5px;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 10px;
}

textarea {
    width: 100%;
    height: 180px;
    border: 1px solid rgb(124, 73, 21);
    border-radius: 5px;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 10px;

}

span {
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    font-weight: 350;

}

p {
    display: block;
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    font-weight: 400;
    margin-bottom: 5px;
}

.mapa {
    background-color: rgb(219, 149, 79);
    margin-right: 100px;
    margin: auto
}

iframe {
    padding: 1%;
}

.conocenos {
    display: grid;
    grid-template-columns: 30px 30px 30px;
    column-gap: 5px;
    align-items: center;
    justify-content: space-evenly;
    /* border: 5px solid black; */
    margin: 2px auto;
    width: 300px;
    height: 40px;
}

.conocenos a {
    width: 30px;
    height: 30px;
}

.conocenos img {
    width: 30px;
    height: 30px;
}

footer p {
    font-size: 100%;
    text-align: center;
    margin: 15px 0px 0px 0px;
}

/* Small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .muebleria h1 h3 {
        max-width: 98%;
    }

    .muebleria h1 {
        font-size: 100%;
    }

    .header {
        max-width: 100%;
        max-height: 40%;
    }

    .barranav {
        max-width: 100%;
    }

    #barra {
        max-width: 95%;
    }

    .contenido {
        display: grid;
        grid-template-rows: auto auto;
        max-width: 100%;
    }

    .formulario {
        max-width: 85%;
        max-height: 140%;
        text-align: center;
        justify-content: center;
    }

    form {
        max-width: 100%;
        max-height: 80%;
        text-align: center;
        align-items: center;
    }

    .mapa {
        margin-top: 2%;
        max-width: 70%;
        max-height: 98%;

    }

    iframe {
        max-width: 100%;
        max-height: 100%;
    }

    label {
        font-size: 70%;
        font-weight: 350;
        margin-bottom: 1%;
    }

    input {
        width: 100%;
        height: 5%;
        border: 1px solid rgb(124, 73, 21);
        border-radius: 1%;
        font-family: "Montserrat", sans-serif;
        margin-bottom: 1px;
    }

    textarea {
        width: 100%;
        height: 1%;
        border: 1px solid rgb(124, 73, 21);
        border-radius: 5px;
        font-family: "Montserrat", sans-serif;
        margin-bottom: 0px;

    }

    footer p img {
        max-width: 90%;
        align-items: center;
    }
}

@media only screen and (min-width: 600px) {
    muebleria h1 h3 {
        max-width: 98%;
    }

    .muebleria h1 {
        font-size: 100%;
    }

    .header {
        max-width: 100%;
        max-height: 40%;
    }

    .barranav {
        max-width: 100%;
    }

    #barra {
        max-width: 95%;
    }

    .contenido {
        display: grid;
        grid-template-columns: auto auto;
        max-width: 100%;
    }

    .formulario {
        max-width: 95%;
        max-height: 100%;
        text-align: center;
        justify-content: center;
    }

    form {
        max-width: 100%;
        max-height: 80%;
        text-align: center;
        align-items: center;
    }

    .mapa {
        margin-top: 2%;
        max-width: 340px;
        min-height: 770px;

    }

    iframe {
        max-width: 100%;
        height: 770px;
    }

    label {
        font-size: 70%;
        font-weight: 350;
        margin-bottom: 1%;
    }

    input {
        width: 100%;
        height: 5%;
        border: 1px solid rgb(124, 73, 21);
        border-radius: 1%;
        font-family: "Montserrat", sans-serif;
        margin-bottom: 1px;
    }

    textarea {
        width: 100%;
        height: 1%;
        border: 1px solid rgb(124, 73, 21);
        border-radius: 5px;
        font-family: "Montserrat", sans-serif;
        margin-bottom: 0px;

    }

    footer p img {
        max-width: 90%;
        align-items: center;
    }
}

@media only screen and (min-width: 768px) {

    .header {
        max-width: 100%;
        max-height: 40%;
    }

    .barranav {
        max-width: 100%;
    }

    #barra {
        max-width: 95%;
    }

    .contenido {
        display: flex;
        margin-top: 0px;
    }

    .formulario {
        
        max-width: 500px;       
        height: auto;
        padding: 30px;
        background-color: rgb(219, 149, 79);
        border-radius: 20px;
        margin: 0px auto;
    }

    .formulario h2 {
        display: block;
        font-size: 35px;
        font-weight: 600;
        font-family: "Montserrat", sans-serif;
        color: rgb(124, 73, 21);
        margin: 20px auto;
        width: fit-content;
        /* border: 2px solid black; */
    }

    .formulario h3 {
        display: block;
        max-width: 500px;
        /* border: 1px solid black; */
        font-size: 90%;
        font-weight: 600;
        font-family: "Montserrat", sans-serif;
        font-style: italic;
        margin: 20px auto;
    }

    label {
        display: block;
        font-family: "Montserrat", sans-serif;
        font-size: 15px;
        font-weight: 350;
        margin-bottom: 5px;
    }
    
    input {
        width: 100%;
        height: 25px;
        border: 1px solid rgb(124, 73, 21);
        border-radius: 5px;
        font-family: "Montserrat", sans-serif;
        margin-bottom: 10px;
    }
    
    textarea {
        width: 100%;
        height: 180px;
        border: 1px solid rgb(124, 73, 21);
        border-radius: 5px;
        font-family: "Montserrat", sans-serif;
        margin-bottom: 10px;
    
    }

    .mapa {
        background-color: rgb(219, 149, 79);
        margin-right: 100px;
        margin: auto
    }
    
    iframe {
        padding: 1%;
    }
    
    .conocenos {
        display: grid;
        grid-template-columns: 30px 30px 30px;
        column-gap: 5px;
        align-items: center;
        justify-content: space-evenly;
        /* border: 5px solid black; */
        margin: 2px auto;
        width: 300px;
        height: 40px;
    }
    
    .conocenos a {
        width: 30px;
        height: 30px;
    }
    
    .conocenos img {
        width: 30px;
        height: 30px;
    }
    
    footer p {
        font-size: 100%;
        text-align: center;
        margin: 15px 0px 0px 0px;
    }
}