* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-image: url(https://www.shutterstock.com/shutterstock/photos/2273827283/display_1500/stock-vector-vector-watercolor-art-background-old-paper-marble-stone-beige-watercolour-texture-for-cards-2273827283.jpg);
    background-size: cover;

}   /* TENEMOS QUE VER LA IMAG DE FONDO PQ LA ACTUAL TIENE MARCA DE AGUA */
h1 {
    border: 10px solid white;
    height: 150px;
    width: 600px;
    padding-top: 2%; /* TENEMOS QUE CHEQUEAR BIEN ESTO */
    margin: 20px auto;
    text-align:center;
    font-size: 400%;
    color: saddlebrown;
}

.Contactanos {
    display: inline-flex;
    color: black;
    position: absolute;
    right: 10px;
    top: 5px;

}

nav ul li{
    border: 1px solid black;
    display: inline;
    text-decoration: none;
    color: rgb(59, 61, 61);
    margin-left: 3%;
}

.navbar-brand {
    border: 1px solid blue;
}

.imagenes {
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
    width: 200px;
    height: 200px;
} 


.navegación {
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
    font-size: x-large;
}



/* ESTO NO ME DOY CUENTA QUÉ VENDRÍA A SER PQ NO HAY CLASE "Productos" */
/* .Productos ul {
    list-style-type: none;
    padding: 0;
}
 
.Productos li {
    margin-bottom: 5px;
    font-size: 16px;
    color: #333;
}
.Productos li:hover {
    background-color: #f0f0f0;
    cursor: pointer;
} */

/* TAMAÑO DE LAS IMG DEL CAROUSEL */
.carousel-item img {
    width: 800px;
    height: 600px;
}


 .conocenos {
    display: flex;
        align-items: center;
    justify-content: space-evenly;
    border: 1px solid black;
    margin: 2px auto;
    width: 300px;
    height: 100px;
 }

.conocenos img {
    margin: 2px;
    width: 50px;
    height: 50px;
    }
